body {
	margin: 2% auto;
	max-width: 93%;
}

header#site-header h1 a {
	color: inherit;
}

header#site-header h1, header nav {
	text-align: center;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav ul li {
	display: inline-block;
}

footer {
	border-top: 2px solid #aaa;
	padding-top: 10px;
	margin-top: 10px;
}

footer p {
	margin: 0;
}

table {
	width: 100%;
}

input {
	background: white;
}

.content-left {
	text-align: left;
}
.content-center {
	text-align: center;
}
.content-right {
	text-align: right;
}

.toc {
	padding: 4px;
}

.notice, .success, .warning, .error {
	color: #fff;
	text-shadow: inherit;
}

div.notice, div.success, div.warning, div.error,
section.notice, section.success, section.warning, section.error,
p.notice, p.success, p.warning, p.error {
	padding: 1em
}

.notice {
	background: rgb(66, 184, 221);
}

.success {
	background: rgb(28, 184, 65);
}

.warning {
	background: rgb(223, 117, 20);
}

.error {
	background: rgb(202, 60, 60);
}

